<div id="header">
    <ul>
        <li>
            <a href="{{ site.github.url }}">Inicio</a>
        </li>
        <li>
            <a href="{{ site.github.url }}/iniciacion">Iniciación</a>
        </li>
        <li>
            <a href="{{ site.github.url }}/ranking">Ranking</a>
        </li>
        <li>
            <a href="{{ site.github.url }}/calendario">Calendario</a>
        </li>
    </ul>
</div>

<style>
    #header {
        margin-bottom: 20px;
        border-bottom: 1px solid #999;
    }
    #header ul {
        padding-left: 0;
    }
    #header li {
        display: inline-block;
        list-style: none;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #999;
    }
    #header li:last-child {   
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }
</style>
