<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <div id="page-header-wrapper">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <div id="header-menu">
            <ul>
                <li>
                    <a href="{{ site.github.url }}">Inicio</a>
                </li>
                <li>
                    <a href="{{ site.github.url }}/iniciacion">Iniciación</a>
                </li>
                <li>
                    <a href="{{ site.github.url }}/ranking">Ranking</a>
                </li>
                <li>
                    <a href="{{ site.github.url }}/calendario">Calendario</a>
                </li>
            </ul>
        </div>
      </div>
      <div id="page-header-overlay"></div>
    </section>
    
    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
